*{
padding: 0;
margin: 0;
font-family: monospace;
}

.top_bar{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 244, 244);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13PX;
    
}
.logo-bar{
    display: flex;
    align-items: center;
    /* padding: 0px 50px; */
    /* background-color: red; */
}

.menu-bar>a{
    padding: 10px;
    text-decoration: none;
    color: white;
    /* background-color: green; */
    
}
.menu-bar a:hover{
    padding: 5px;
    color: rgb(194, 34, 34);
    transition: .5s;
}

.icon-bar>i{
    padding:0px 5px;
    color: rgb(255, 255, 255); 
      font-size: 15px; 
   
    
}
.icon-bar>i:hover{
  color: rgb(249, 0, 0);
  transition: .5s;
}
#three-bar{
    height: 100%;
    display: none;
    align-items: center;
    padding-left: 25px;
   
}

/* hidden-menu-bar */
.hidden-parent-div{
    width: 100%;
    height: auto;
    backdrop-filter: blur(15px);
    display: none;
    position: absolute;
    overflow: hidden;
    padding: 23px 0px 0px 0px;
    z-index: 1;

}
.hidden-menu-bar>a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
}

/* first div image box */

.fst-image-box{
    width: 100%;
    height: 80vh;
    background-color: blueviolet;
}
.first-image{
   width: 100%;
    height: 100%;
    object-fit: cover;
}  
.fst-image-box>h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    overflow: hidden;
}
.fst-image-text{
    position: absolute;
    top: 50%;
    left: 10%;
    overflow: hidden;

}
.view-workout-button{
    border: 9px solid red;
    background-color: red;
    color: white;
    float: inline-end;
}
.icon-hidden-parent-div{
    height: auto;
    position: absolute;
    color: white;
   

    
}
.hid-icon-bar>i{
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    display: none;
 

}


/*  second div-box-content  */

.second-box{
    width: 100%;
    height: 97vh;
    background-color: rgb(57, 63, 68);
    position: relative;
  }
.img-second-box{
    width: 25%;
    height: 98%;
    object-fit: cover;
    display: flex;
    align-items: center;
    position: absolute;
    left: 301px;
    top: 2px;
    
    
}
.about-me-1{
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: white;
    font-family: monospace;
}

.home-class{
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;

}
.about-class{
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    

}
 .home-class:hover{
    transition: .5s;
    color: red;
}
.about-class:hover{
    transition: .5s;
    color: red;
}

.about-james-clark{
    position: absolute;
    left: 784px;
    top: 120px;
    color: white;
}
.about-content {
    
 
    position: absolute;
    left: 802px ;
    top:258px;
    font-size: 20PX;
    color: white;
}

@media only screen and (max-width : 1050px) {
    .menu-bar{
        display: none;
    }
    #three-bar{
        display: inline
    }
    .top_bar{
        justify-content: space-between;
    }
    .icon-bar{
        padding-right: 50px; 
    }
    .logo-bar{
        padding: 0px 50px;
    }
    .hid-icon-bar>i{
    display: none;
    
    }
    .about-james-clark{
          position: absolute;
          left: 246px;
    top: 152px;
    color: white;
    }

    .img-second-box{
        width: 30%;
        height: 76%;
        object-fit: cover;
        display: flex;
        align-items: center;
        position: absolute;
        left: 17px;
        top: -7px;
        overflow: hidden;
    } 
    .about-content {
     
        position: absolute;
        left: 197px;
        top: 281px;
        color: white;
        font-size: 17px;
    }

@media only screen and (max-width : 460px) {
    .icon-bar>i{
        display: none;
    }
    #three-bar{
        display: inline
    }
    .icon-hidden-parent-div  {    
        top: 29%;
        position: fixed;
        /* background: white; */
        padding: 10px;
        border-radius: 0px 20px 20px 0px;
        z-index: 9;
        backdrop-filter: blur(3px);
    }

        
    .icon-hidden-parent-div  a 
    {
        font-size: 18px;
    }
    .hid-icon-bar>i{
        display: flex;
        color: red;

    }
    .fst-image-text{
        position: absolute;
        top: 38%;
        left: 21%;
        overflow: hidden;
    }

    .view-workout-button {
        float: inline-end;
        position: relative;
        left: -98px;
        bottom: -2px;}

.about-james-clark{
    position: absolute;
    left: 188px;
    top: 101px;
    color: white;
    font-size: 16px;
}

.img-second-box {
    width: 30%;
    height: 76%;
    object-fit: cover;
    display: flex;
    align-items: center;
    position: absolute;
    left: 17px;
    top: -13px;
    overflow: hidden;

}

.about-content {
    position: absolute;
    left: 157px;
    top: 156px;
    color: white;
    font-size: 18px;}








}